@charset "UTF-8";
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: turquoise;
  max-width: 100%;
  height: 10vw;
  text-align: center;
  border-radius: 25px;
}

li {
  display: inline;
}

a {
  color: white;
  text-decoration: none;
  margin: 15px;
}

a:hover {
  background-color: #660050;
}

box-header:hover {
  background-color: black;
}

body,
button,
input,
select,
textarea {
  color: #22262a;
  font-family: "Rubik", sans-serif;
  font-size: 1.1;
  font-weight: 300;
  line-height: 1.5;
}

@media screen and (min-width: 600px) {
  body,
  button,
  input,
  select,
  textarea {
    font-size: 1.25;
  }
}

h1, h2, h3, h4, h5, h6 {
  clear: both;
  font-weight: 700;
  line-height: 1.3em;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.6em;
}

h3 {
  font-size: 2.2em;
}

h4 {
  font-size: 2em;
}

h5 {
  font-size: 1.8em;
}

h6 {
  font-size: 1.6em;
}

p {
  margin-top: .5em;
  margin-bottom: 1em;
}

dfn, cite, em, i {
  font-style: italic;
}

blockquote {
  position: relative;
  margin: 0 0 1em;
  background: #eee;
  padding: 1em 2em .5em 5em;
  font-style: italic;
}

blockquote:before {
  position: absolute;
  top: -.2em;
  left: -.13em;
  content: "“";
  font-size: 12em;
  line-height: 100%;
  color: white;
}

address {
  margin: 0 0 1.5em;
}

pre {
  background: #eee;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 0.9375;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em;
}

code, kbd, tt, var {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 0.9375;
}

abbr, acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
}

mark, ins {
  background: #fff9c0;
  text-decoration: none;
}

big {
  font-size: 125%;
}

.boutonBurger {
  background: -webkit-gradient(linear, left top, left bottom, from(#E84545), color-stop(20%, #E84545), color-stop(20%, transparent), color-stop(40%, transparent), color-stop(40%, #E84545), color-stop(60%, #E84545), color-stop(60%, transparent), color-stop(80%, transparent), color-stop(80%, #E84545), to(#E84545));
  background: linear-gradient(to bottom, #E84545 0%, #E84545 20%, transparent 20%, transparent 40%, #E84545 40%, #E84545 60%, transparent 60%, transparent 80%, #E84545 80%, #E84545 100%);
  height: 48px;
  width: 48px;
  margin: 1%;
  display: inline-block;
  cursor: pointer;
  /*Effet de transition sur la rotation*/
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.menu {
  background-color: #E84545;
  text-align: center;
  /*Pour cet exemple, on fixe la largeur du menu à 100% ou 100vw*/
  width: 100vw;
  /*Propriété comme item flex - ne peut rétrécir*/
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  /*Contexte flex en colonne pour ses enfants*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow-x: hidden;
  overflow-y: auto;
}

.menu a {
  text-decoration: none;
  color: white;
  border-bottom: 1px solid white;
  font-size: 1.5rem;
  padding: 0.5rem;
}

.menu a:first-child {
  border-top: 1px solid white;
}

/* le menu... apparaît ou disparaît selon l'état checked de la case à cocher #chkBoutonBurger
    on fait aussi tourner le bouton burger...

    Et... pour l'aspect esthétique de la chose... la case à cocher (checkbox) n'est pas affichée...
*/
#chkBoutonBurger:checked ~ .global {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

#chkBoutonBurger:checked ~ .boutonBurger {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

#chkBoutonBurger {
  display: none;
}

/*Pour les tailles plus grandes le menu apparaît de hauteur normale et le bouton burger disparaît*/
body {
  margin: 40px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: rgba(68, 68, 68, 0.685);
}

.global {
  max-width: 100vw;
  /*Propriété comme item flex*/
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  /*Conteneur flex en rangée*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*Poussée vers la gauche pour ne pas voir le menu*/
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  /*Effet de transition sur la transformation*/
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  /*	overflow-x: hidden; */
}

.sidebar {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: sidebar;
}

.sidebar2 {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: sidebar2;
}

.content {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: content;
  height: auto !important;
}

.header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
}

.footer {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: footer;
}

.wrapper {
  background-color: #5479be;
  color: #444;
}

.wrapper {
  display: -ms-grid;
  display: grid;
  grid-gap: 1em;
      grid-template-areas: "header" "sidebar" "content" "sidebar2" "footer";
}

@media only screen and (min-width: 500px) {
  .wrapper {
    -ms-grid-columns: 20% auto;
        grid-template-columns: 20% auto;
        grid-template-areas: "header   header" "sidebar  content" "sidebar2 sidebar2" "footer   footer";
  }
  .boutonBurger {
    background: -webkit-gradient(linear, left top, left bottom, from(#E84545), color-stop(20%, #E84545), color-stop(20%, transparent), color-stop(40%, transparent), color-stop(40%, #E84545), color-stop(60%, #E84545), color-stop(60%, transparent), color-stop(80%, transparent), color-stop(80%, #E84545), to(#E84545));
    background: linear-gradient(to bottom, #E84545 0%, #E84545 20%, transparent 20%, transparent 40%, #E84545 40%, #E84545 60%, transparent 60%, transparent 80%, #E84545 80%, #E84545 100%);
    height: 48px;
    width: 48px;
    margin: 1%;
    display: inline-block;
    cursor: pointer;
    /*Effet de transition sur la rotation*/
    -webkit-transition: -webkit-transform 1s;
    transition: -webkit-transform 1s;
    transition: transform 1s;
    transition: transform 1s, -webkit-transform 1s;
  }
  .menu {
    background-color: #E84545;
    text-align: center;
    /*Pour cet exemple, on fixe la largeur du menu à 100% ou 100vw*/
    width: 100vw;
    /*Propriété comme item flex - ne peut rétrécir*/
    -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
    /*Contexte flex en colonne pour ses enfants*/
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    overflow-x: hidden;
    overflow-y: auto;
  }
  .menu a {
    text-decoration: none;
    color: white;
    border-bottom: 1px solid white;
    font-size: 1.5rem;
    padding: 0.5rem;
  }
  .menu a:first-child {
    border-top: 1px solid white;
  }
  /* le menu... apparaît ou disparaît selon l'état checked de la case à cocher #chkBoutonBurger
        on fait aussi tourner le bouton burger...
    
        Et... pour l'aspect esthétique de la chose... la case à cocher (checkbox) n'est pas affichée...
    */
  #chkBoutonBurger:checked ~ .global {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  #chkBoutonBurger:checked ~ .boutonBurger {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  #chkBoutonBurger {
    display: none;
  }
  /*Pour les tailles plus grandes le menu apparaît de hauteur normale et le bouton burger disparaît*/
}

@media only screen and (min-width: 600px) {
  .wrapper {
    grid-gap: 20px;
    -ms-grid-columns: 120px auto 120px;
        grid-template-columns: 120px auto 120px;
        grid-template-areas: "header  header  header" "sidebar content sidebar2" "footer  footer  footer";
    max-width: 600px;
  }
  .boutonBurger {
    display: none;
  }
  .global {
    /*Placer à sa potition d'origine*/
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    /*Mettre le contenu en colonne*/
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .menu {
    /*Propriété comme item flex - ne peut s'étirer en hauteur*/
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    /*Affichage du menu en rangée*/
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .menu a {
    border: none;
    border-left: 1px solid white;
    /*Propriété comme item flex - peut s'étirer en largeur*/
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
  }
  .menu a:first-child {
    border-top: none;
  }
}

.box {
  background-color: turquoise;
  color: #fff;
  border-radius: 15px;
  padding: 10px;
  font-size: 150%;
  height: 10vw;
}

.header,
.footer {
  background-color: rgba(250, 51, 44, 0.904);
}

.footer {
  background-image: url(../media/manos-gkikas-461337-unsplash.jpg);
}

.sidebar2 {
  background-color: rgba(250, 51, 44, 0.904);
  color: #444;
}
/*# sourceMappingURL=style.css.map */