ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color:turquoise;
    max-width:100%;
    height: 10vw;
    text-align:center;
    
  }

  li {
    display: inline;
  }

  a {
      color:white;
      text-decoration:none;
      margin:15px;
      
  }