.boutonBurger {
    background: linear-gradient(to bottom, #E84545 0%, #E84545 20%, transparent 20%, transparent 40%, #E84545 40%, #E84545 60%, transparent 60%, transparent 80%, #E84545 80%, #E84545 100%);
    height: 48px;
    width: 48px;
    margin: 1%;
    display: inline-block;
    cursor: pointer;
    /*Effet de transition sur la rotation*/
    transition: transform 1s;
}

.menu {
    background-color: #E84545;
    text-align: center;
    /*Pour cet exemple, on fixe la largeur du menu à 100% ou 100vw*/
    width: 100vw;
    /*Propriété comme item flex - ne peut rétrécir*/
    flex: 1 0 100%;
    /*Contexte flex en colonne pour ses enfants*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-x: hidden; overflow-y: auto;
}

.menu a {
    text-decoration: none;
    color: white;
    border-bottom: 1px solid white;
    font-size: 1.5rem;
    padding: 0.5rem;
}

.menu a:first-child {
    border-top: 1px solid white;
}


/* le menu... apparaît ou disparaît selon l'état checked de la case à cocher #chkBoutonBurger
    on fait aussi tourner le bouton burger...

    Et... pour l'aspect esthétique de la chose... la case à cocher (checkbox) n'est pas affichée...
*/

#chkBoutonBurger:checked~.global {
    transform: translateX(0%);
}

#chkBoutonBurger:checked~.boutonBurger {
    transform: rotate(90deg);
}

#chkBoutonBurger {
    display: none;
}
/*Pour les tailles plus grandes le menu apparaît de hauteur normale et le bouton burger disparaît*/